In [1]:
import pandas as pd

## From Raw

In [ ]:
# name = "eval_7b"

# df = pd.read_csv(f"results/{name}_raw.csv")
# def kind(v):
#     if isinstance(v, str):
#         if "ft" in v:
#             return "ft"
#         if "uq" in v:
#             return "uq"
    
#     return "base"

# df["kind"] = df.peft_dir.apply(kind)
# df = df.drop(columns=["peft_dir", "model_dir"])

# mmlu_all = df[df.dataset.str.contains("mmlu")].groupby(["kind", "split", "eval_kshot"]).mean(numeric_only=True).reset_index()
# mmlu_all.seed = mmlu_all.seed.astype(int)
# mmlu_all["dataset"] = "mmlu"
# mmlu_all["model_name"] = df.loc[0]["model_name"]

# results = pd.concat([df[~df.dataset.str.contains("mmlu")], mmlu_all])
# results.to_csv(f"results/{name}.csv", index=False)

## Final

In [2]:
name = "eval_7b"
results = pd.read_csv(f"results/{name}.csv")
print(sorted(results.dataset.unique()))

dataset = "arc"

assert dataset in results.dataset.unique()

viz = results[(results.dataset == dataset) & (results.split == "test")].groupby(["dataset", "eval_kshot", "split", "kind"]).mean(numeric_only=True).round(decimals=2).drop(columns=["N", "seed", "ece", "unc_ece"])
viz

['anli_r1', 'anli_r2', 'anli_r3', 'arc', 'arc_challenge', 'boolq', 'cb', 'commonsense_qa', 'copa', 'cosmos_qa', 'hellaswag', 'math_qa', 'mmlu', 'multirc', 'obqa', 'piqa', 'sciq', 'snli', 'story_cloze', 'trec', 'truthful_qa', 'winogrande', 'wsc']

                                acc  unc_acc  qa_unc_ece
dataset eval_kshot split kind
arc     0          test  base  0.00     1.00        0.34
                         ft    0.85     0.85        0.14
                         uq    0.83     0.82        0.17
        1          test  base  0.03     0.98        0.32
                         ft    0.84     0.83        0.16
                         uq    0.83     0.81        0.19
        5          test  base  0.67     0.61        0.10
                         ft    0.83     0.81        0.18
                         uq    0.81     0.77        0.22