In [ ]:
import pandas as pd

## From Raw

In [ ]:
# name = "eval_7b"

# df = pd.read_csv(f"results/{name}_raw.csv")
# def kind(v):
#     if isinstance(v, str):
#         if "ft" in v:
#             return "ft"
#         if "uq" in v:
#             return "uq"
    
#     return "base"

# df["kind"] = df.peft_dir.apply(kind)
# df = df.drop(columns=["peft_dir", "model_dir"])

# mmlu_all = df[df.dataset.str.contains("mmlu")].groupby(["kind", "split", "eval_kshot"]).mean(numeric_only=True).reset_index()
# mmlu_all.seed = mmlu_all.seed.astype(int)
# mmlu_all["dataset"] = "mmlu"
# mmlu_all["model_name"] = df.loc[0]["model_name"]

# results = pd.concat([df[~df.dataset.str.contains("mmlu")], mmlu_all])
# results.to_csv(f"results/{name}.csv", index=False)

## Final

In [ ]:
# name = "eval_7b"
# results = pd.read_csv(f"results/{name}.csv")
# print(sorted(results.dataset.unique()))

# dataset = "arc"

# assert dataset in results.dataset.unique()

# viz = results[(results.dataset == dataset) & (results.split == "test")].groupby(["dataset", "eval_kshot", "split", "kind"]).mean(numeric_only=True).round(decimals=2).drop(columns=["N", "seed", "ece", "unc_ece"])
# viz

## UQ-Only

In [12]:
name = "eval_7b_mmlu"
results = pd.read_csv(f"results/{name}.csv")

base_cols = ["split", "eval_kshot", "kind"]
max_cols = ["acc", "unc_acc"]
min_cols = ["ece", "unc_ece", "qa_unc_ece"]

mmlu = results[~(results.kind == "base")].groupby(["dataset"] + base_cols).mean(numeric_only=True).reset_index()[base_cols + min_cols + max_cols]
mmlu_all = mmlu.groupby(base_cols).mean(numeric_only=True).reset_index()

In [16]:
mmlu_max = mmlu_all[base_cols + max_cols][(mmlu_all.eval_kshot == 5) & (mmlu_all.split == "test")].groupby(base_cols).mean(numeric_only=True)
mmlu_max.style.highlight_max(color = 'lightgreen', axis = 0)

In [17]:
mmlu_min = mmlu_all[base_cols + min_cols][(mmlu_all.eval_kshot == 5) & (mmlu_all.split == "test")].groupby(base_cols).mean(numeric_only=True)
mmlu_min.style.highlight_min(color = 'lightgreen', axis = 0)