In [1]:
import pandas as pd

## From Raw

In [ ]:
# name = "eval_7b"

# df = pd.read_csv(f"results/{name}_raw.csv")
# def kind(v):
#     if isinstance(v, str):
#         if "ft" in v:
#             return "ft"
#         if "uq" in v:
#             return "uq"
    
#     return "base"

# df["kind"] = df.peft_dir.apply(kind)
# df = df.drop(columns=["fp8", "peft_dir", "model_dir"])

# mmlu_all = df[df.dataset.str.contains("mmlu")].groupby(["kind", "split", "eval_kshot"]).mean(numeric_only=True).reset_index()
# mmlu_all.seed = mmlu_all.seed.astype(int)
# mmlu_all["dataset"] = "mmlu"
# mmlu_all["model_name"] = df.loc[0]["model_name"]

# results = pd.concat([df[~df.dataset.str.contains("mmlu")], mmlu_all])
# results.to_csv(f"results/{name}.csv", index=False)

## Final

In [4]:
name = "eval_13b"
results = pd.read_csv(f"results/{name}.csv")
sorted(results.dataset.unique())

['anli_r1',
 'anli_r2',
 'anli_r3',
 'arc',
 'arc_challenge',
 'boolq',
 'cb',
 'commonsense_qa',
 'copa',
 'cosmos_qa',
 'hellaswag',
 'math_qa',
 'mmlu',
 'multirc',
 'obqa',
 'piqa',
 'sciq',
 'snli',
 'story_cloze',
 'trec',
 'truthful_qa',
 'winogrande',
 'wsc']

In [5]:
dataset = "mmlu"
viz = results[results.dataset == dataset].groupby(["dataset", "eval_kshot", "split", "kind"]).mean(numeric_only=True).round(decimals=2).drop(columns=["N", "seed", "ece", "unc_ece"])
viz

                                     acc  unc_acc  qa_unc_ece
dataset eval_kshot split      kind
mmlu    0          test       base  0.00     0.54        0.49
                              ft    0.61     0.26        0.53
                              uq    0.60     1.00        0.00
                   validation base  0.00     0.54        0.49
                              ft    0.61     0.24        0.58
                              uq    0.60     1.00        0.00
        1          test       base  0.52     0.17        0.76
                              ft    0.60     0.07        0.77
                              uq    0.60     1.00        0.00
                   validation base  0.52     0.17        0.76
                              ft    0.60     0.06        0.78
                              uq    0.58     1.00        0.00
        5          test       base  0.54     0.04        0.86
                              ft    0.61     0.00        0.90
                              uq    0.60     1.00        0.00
                   validation base  0.54     0.04        0.86
                              ft    0.60     0.00        0.90
                              uq    0.59     1.00        0.00

In [ ]:
print(viz.to_latex())